* {
  margin: 0;
  padding: 0;
  border: 0;
}
.select-wrap {
  background-color: rgba(80, 73, 34, 0.6);
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px; 
  border-radius: 10%;

}
.select-wrap img{
  position: absolute;
  width: 100%;
  height: 100%;
  left:0px;
  top:0px;  
  border-radius: 10%;
}
.select-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.select-description h2 {
  position: relative;
  text-align: center;
  top:20px;
}
.select-description p {
  position: relative;
  text-align: center;
  top: 30px;
}

.select-wrap:hover .select-description {
  visibility: visible;
  opacity: 1;
}
.btn-back
{
    text-align: center;
    position: relative;
    border-radius:10px;
    top:5px;
    background-color: rgba(87, 206, 87, 0.829);
    padding: 5px;
}
.btn-start
{
    text-align: center;
    position: absolute;
    border-radius:10px;
    background-color: rgba(87, 206, 87, 0.829);
    right:100px;
    padding: 5px;
    top:102.5px;
}