.spy-charts {
    padding: 0 30px;
    background-color:rgba(0,0,0,0.4);
    position: relative;
    width: 300px; 
    height: 300px;
    margin: 10px;
    section {
      padding: 10px solid blue;
    }
    &button{
     background-color: red;
    }
    h2 {
      font-size: 22px;
      margin: 10px 10px 30px 10px;
      border-bottom: 1px solid blue;
      padding-bottom: 10px;
    }
  
    h3 {
      font-size: 20px;
      font-weight: 600;
    }
  
    p {
      color: #878787;
      letter-spacing: 1px;
      line-height: 1.5;
    }
  
    article {
      @media screen and (min-width: 700px) {
        
        display: inline-block;
        width: calc((100% / 4) - 20px);
        margin: 0 10px;
      }
    }
  
    > div {
      font-size: 0;
  
      > * {
        font-size: 18px;
      }
    }
  }