.spy-charts {
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px; }
  .spy-charts section {
    padding: 10px solid blue; }
  .spy-chartsbutton {
    background-color: red; }
  .spy-charts h2 {
    font-size: 22px;
    margin: 10px 10px 30px 10px;
    border-bottom: 1px solid blue;
    padding-bottom: 10px; }
  .spy-charts h3 {
    font-size: 20px;
    font-weight: 600; }
  .spy-charts p {
    color: #878787;
    letter-spacing: 1px;
    line-height: 1.5; }
  @media screen and (min-width: 700px) {
    .spy-charts article {
      display: inline-block;
      width: calc((100% / 4) - 20px);
      margin: 0 10px; } }
  .spy-charts > div {
    font-size: 0; }
    .spy-charts > div > * {
      font-size: 18px; }
