
.li-style a { 
    text-decoration: none;
    color: rgb(247, 204, 66);
}

.image-style-nav
{
    width: 50px;
    height: 25px;
}
.image-style
{
    width: 50px;
    height: 25px;
}

.active {
    background-color: #4CAF50;
}
.player-t{
    position: absolute;
    right:10px;
    top:15px;
    color:rgb(247, 204, 66);
    text-decoration: none;
}
.bar-nav{
    position: relative;
    display: block;
    list-style-type: none;
    margin: 0;
    top:40px;
    width: 100%;
    overflow: hidden;
    background-color:#0097BA;
}
.bar-nav-status{
    position: absolute;
    display: block;
    list-style-type: none;
    margin: 0;
    top:0px;
    left:0;
    width: 100%;
    height: 60px;
    padding: 0;
    overflow: hidden;
    background-color:#0097BA;
}

.status-menu
{
    position: absolute;
    list-style-type: none;
    overflow: hidden;
    right:10px;
    
}
.status-menu li
{
    display: inline-block;
    font-size: 16px;
    padding: 8px;
}
.status-menu li a
{
    text-decoration: none;
    color: white;
}
.logo-img{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top:10px;
    left:50%;
    margin-left:-120px;
    font-size:30px;
    z-index: 2;
}
.logo-img a{
    color:rgb(247, 204, 66);
    text-decoration: none;
}
.bar-nav li { 
    font-size: 20px;
    float:left;
    color: rgb(247, 204, 66);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}
.bar-nav li:hover { 
    font-size: 24px;
}
.bar-nav ul { 
    position: relative;
    left: 50%;
    margin-left: -412px;
}
.bar-nav li a{ 
    text-decoration: none;
}