* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .player-wrap {
    background-color: rgba(80, 73, 34, 0.6);
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px; 
    border-radius: 30%;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .player-wrap img{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;  
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    border-radius: 30%;
  }
  .player-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 30%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  .player-description h2 {
    position: relative;
    text-align: center;
    top:30px;
  }
  .player-description p {
    position: relative;
    text-align: center;
    top: 60px;
  }
  
  .player-wrap:hover .player-description {
    visibility: visible;
    opacity: 1;
  }
  .player-wrap:focus {
    border: none;
    outline: none;
  }
  .player-wrap input[type="checkbox"] {
    position:absolute;
      display: block;
      left:20px;
      top:20px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
  }
  .player-wrap input[type="checkbox"]:focus {
    border: none;
    outline: none;
  }
  .player-wrap input[type="checkbox"]:checked::after {
    position:absolute;
    height:25px;
    width:25px;
    content: "✓";
    font-size: 20px;
    text-align: center;
    background-color: grey;
    transform: scale(1);
    z-index: 1;
    border-radius: 50%;
  }
  .native-hidden {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }     