@import url(https://www.w3schools.com/w3css/4/w3.css);

.button-ul {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40%;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid rgb(41, 148, 50);
    border-radius: 10px; 
    height: 80px;
}
.button-ul:hover {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40%;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid rgb(41, 148, 50);
    border-radius: 10px; 
    height: 80px;
    background-color: green;
}

.button-li  {
    overflow: hidden;
}


.button-li:last-child {
padding:7px;
}

.button-li:not(:last-child) {
padding:7px;
border-bottom:1px solid #DDD;
}


.parent:nth-of-type(odd) {
background-color: rgb(40,40,40);
}

.parent:nth-of-type(even) {
background-color: black;
}
.rectangle
{
   
    margin: auto;
    margin-top: 50px;
    width: 70%;
    padding: 10px;
    height:200px;
    background-color:darkseagreen;
    opacity: 0.7;
}
.text-button
{
    position: relative;
    font-size: 50px;
    text-decoration:none;
    text-decoration:rgba(255, 255, 255, 0);
    font-weight: bold;
    color:brown;
}