@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {

  position: relative;
  font-size: 35px;
  color:white;
  font-weight: bold;
  -webkit-animation: rotating 0.9s linear infinite;
  -moz-animation: rotating 0.9s linear infinite;
  -ms-animation: rotating 0.9s linear infinite;
  -o-animation: rotating 0.9s linear infinite;
  animation: rotating 0.9s linear infinite;
}

#triangle-bg{
  position: relative; 
  left: 50%;
  top:30%;
  margin-left: -40px;
  line-height:100px;
  width: 0;
  height: 0;
  text-align: center;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid #0097BA;
}
#triangle-bg div{
  margin:-50px 0 0 -70px;
}
.loading-bg
{
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.7);
  z-index: 1;
}