.player-box {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 10px; 
  margin-top: 0px;
  background-color: yellow;
  border-radius: 8px;
 }
 .player-box h3{
  position:absolute;
  top:25px;
  left:90px;
 }
 .player-box h4{
  position:absolute;
  top:60px;
  left:90px;
 }
 .player-img{
  position: absolute;
  top:15%;
  left:5px;
  width:70px;
  height:70px;
  border-radius: 50%;
 }
 .plus-img{
  position: absolute;
  top:50px;
  left:200px;
  width:45px;
  height:45px;
 }
.info-img
 {
   position: absolute;
   right:5px;
   top:5px;
  width:35px;
  height:35px;
 }
 .info-img:hover .info-player
 {
  visibility: visible;
  opacity: 1;
 }
 .info-player
 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 30%;
  visibility: hidden;
  opacity: 1;
  transition: opacity .2s, visibility .2s;
  z-index: 3;
 }
 .info-player h4 {
  position: relative;
  text-align: center;
  top:35px;
}
.info-player h5 {
  position: relative;
  text-align: center;
  top: 60px;
}
.bg-finished{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  height: 100%;
}
