.team-box {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 100%; 
  margin: 10px; 
  background-color: rgba(104, 209, 169, 0.856);
  border-radius: 3%;
}
.team-box header
{
  position: relative;
  margin: 15px;
  background-color: rgba(199, 224, 86, 0.856);  
  border-radius: 5%;

}
.team-box header section
{
  display: inline-block;
  position: relative;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  border: 2px solid rgba(1, 1, 86, 0.856);  
  border-radius: 5%;

}
.team-box header section span
{
  position: relative;
}
.team-box header section span.average
{
  margin: 10px;
  position: relative;
  padding: 5px;
  display: inline-block;
}
.team-box header section span button
{
  background-color:white;
  border-radius: 1000%;
  position: relative;
  width: 30px;
  height: 30px;
  top: 15px;
}
.team-box header section span button img
{
  top:-7px;
  left:-7px;
  position: relative;
 width: 45px;
 height: 45px;
}
.team-box header section span.points
{
  margin: 10px;
  position: relative;
  display: inline-block;
  left:0px;
}
.plus
{
  position: relative;
  width:25px;
  height:25px;
  border-radius: 50%;
  background-color: white;
}
.plus img
{
  width:45px;
  height:45px;
  margin-top: -8px;
  margin-left: -8px;
}

.team-box header h2
{
  top:5px;
  position: relative;
 text-align:center;
}