.category-box
{
    border-radius: 5%;
    position: relative;
    display: inline-block;
    margin: 0;
    top:60px;
    left:0;
    width: 100%;
    padding: 0;
}
.category-box ul li
{
    border-radius: 5%;
    width:200px;
    height:200px;
    background-color: darkgray;
    text-decoration: none;
    overflow: hidden;
    color: rgb(247, 204, 66);
    margin: 10px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    line-height:192px;
    border: 2px dashed #f69c55;
}
.category-box ul li:hover
{
    font-size: 28px;
    
}
.category-box ul li a
{
    text-decoration: none;
}
.category-box-item
{
    border-radius: 5%;
    position: relative;
    margin: 0;
    top:60px;
    left:0;
    width: 100%;
    padding: 0;
}
.category-box-item ul li
{
    border-radius: 5%;

    background-color: darkgray;
    text-decoration: none;
    overflow: hidden;
    color: rgb(247, 204, 66);
    margin: 10px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    background-color:#0097BA;
    border: 2px dashed #f69c55;
    position: relative;
}
.category-box-item ul span li img
{
    border-radius: 5%;
    width:200px;
    height:200px;
}
.category-box-item ul span li span h5
{
    position: relative;
    font-size: 15px;
    top: 0px;
    left:0px;
    color: rgb(247, 204, 66);
}
