.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lyrics {
  white-space: pre-line;
  margin-top: 40px;
}

html, body {
  width: 100%;
  height: 100%;
  
  padding: 0px;
  margin: 0px;
  background: url('/Resources/bg.svg');
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

main {
  position:initial;
  height: 100%;
  max-width: 85%;
  bottom: 0;
  margin: 40px auto;
}