.leaderboard {
    margin: 1em;
}

.leaderboard:hover {
    background-color: #555;
    cursor: pointer;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid rgb(75, 146, 158);
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.collumn-data
{
    position: relative;
    width: 14%;
}
.item-data
{
    position: relative;
    display: table-cell;
    width: 14%;
    
}
.item-data-rank
{
    position: relative;
    display: table-cell;
    background-color: yellow;
    width: 14%;
    
}
.rectangle-box-rank
{
    position: relative;
    display: block;
    width: 40%; 
    height: 100%; 
    background-color: yellowgreen;
    opacity: 0.7;
}

.title-text
{
    position: relative;
    display: block;
    text-align: center ;
    font-size:30px;
}