.add-game
{
    position: relative;
    background-color: rgba(0,0,0,0.4);
    height:100%;
    padding: 10px;
}
.add-game form
{
    position: relative;
    width: 500px;
    left:50%;
    margin-left: -175px;
    padding: 20px;
}
.add-game form input
{
    border-radius:10px;
    position: relative;
    padding-left:10px;
}
.add-game form label
{
    border-radius:10px;
}
.add-game form textarea
{
    border-radius:10px;
}
.add-game form button
{
    text-align: center;
    position: relative;
    margin-left:70px; 
    border-radius:10px;
    background-color: rgba(87, 206, 87, 0.829);
    padding: 10px;
}
