.ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0097BA;
}

.li-style { 
    display: block;
    color: rgb(247, 204, 66);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.li-style a { 
    text-decoration: none;
    color: rgb(247, 204, 66);
}

.image-style
{
    width: 60px;
    height: 30px;
}

.active {
    background-color: #4CAF50;
}